#root {
  line-height: 0.55;
  width:960px;
  height: 412px;
}

header {
   height: 50px;
   margin-top: -12px;
 }

 #root > div > header > div > div > span > div svg {
   color: rgb(255 255 255);
   font-size: 18px;
   font-weight: 600;
   width: 18px;
   margin-left: 0px;
 }

 #root > div > header > div > div > span > div > button {
   padding: 7px;
 }

 #root > div > div > div > div > button {
   color:inherit;
 }