#root {
  width: 800px;
  min-height: 376px;
  line-height: 1;
}

header {
   height: 50px;
   margin-top: -12px;
 }

 #root > div > header > div > div > span > div svg {
   color: rgb(255 255 255);
   font-size: 20px;
   width: 18px;
   margin-left: 0px;
 }
